{
    "extends": "eslint:recommended",
    "rules": {
        "semi": [ "error", "always" ],
        "quotes": [ "error", "single" ],
        "no-extra-parens": [ "error", "all" ],
        "block-spacing": [ "error", "always" ],
        "max-lines": [ "error", { "max": 300 } ],
        "array-bracket-spacing": [ "error", "always" ],
        "comma-dangle": [ "error", "always-multiline" ],
        "template-curly-spacing": [ "error", "always" ],
        "array-element-newline": [ "error", "consistent" ],
        "object-curly-spacing": [ "error", "always" ],
        "array-bracket-newline": [ "error", { "multiline": true } ]
    },
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true,
        "node": true
    }
}
